<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Weather - About</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>

      {{>bodyHeader}}

    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <!-- Heading Ends Here -->


    <!-- About Us Starts Here -->
    <div class="about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="images/our-team.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <span><h2 style="color: rgb(34, 34, 134); font-family:'Courier New', Courier, monospace;">Shamoon Ashraf</h2></span>
                <p style="font-family: 'Courier New', Courier, monospace; font-weight:bold">Hakuna Matata! A great motto to live life.</br>If you don't know Hakuna Matata than you have to die because you are worthless.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Ends Here -->


    
    <!-- Footer Starts Here -->
    {{>footer}}
    <!-- Footer Ends Here -->
  </body>
</html>